.product {
  // max-width: 320px;
  padding: 16px;
  border: 1px solid var(--main-text-color);
  border-radius: 8px;
  height: 100%;
&__inner {
  display: flex;
  flex-direction: column;
  
}
&__title {
  margin-bottom: 8px;
}
&__description {
  margin-bottom: 8px;
}
&__img {
  display: block;
  width: 240px;
  height: 200px;
  object-fit: cover;
  background-size: cover;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
}