@font-face {
  font-family: "Overlock SC";
  src: url("../assets/fonts/OverlockSC-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SkinnyThings";
  src: url("../assets/fonts/SkinnyThings.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-ExtraBold.ttf");
  font-weight: 800;
}